@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{  
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}


#banner{
	background: linear-gradient(rgb(0,0,0,0.7), #494e4e) ,url(27.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.logo{
	width: 100px;
	position: absolute;
	top: 2%;
	left: 2%;
}
.banner-text{
	text-align: center;
	color: #fff;
	padding-top: 130px;
}
.banner-text h1{
	font-size: 120px;
	font-family: 'Kaushan Script', cursive;
}
.banner-text h2{
	font-size: 15px;
	font-style: italic;
}

.descriere p{
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	color: #fff;
	
	margin: 50px auto 0;
	
}

.buton{
	margin: 70px auto 0;
}
.buton a{
	width: 150px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px;
	color: #fff;
	border: .5px solid #fff;
	position: relative;
	z-index: 1;
	transition: 0.5s;
}
.buton a span{
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -1;
	transition: 0.5s;

}
.buton a:hover span{
	width: 100%;
}
.buton a:hover{
	color: black;
}
.tabel {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 50%;
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;


}

#bannerc{
	background: linear-gradient(rgb(0,0,0,0.7), #494e4e) ,url(cat.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}


#fundal{
	background: linear-gradient(rgb(0,0,0,0.7), #494e4e) ,url(cat.jpg);
	background-size: cover;
	background-position: center;
	height: 150vh;
}


.imput_area label{
	margin: 120px auto 0;
}

* {
	font-family: sans-serif;
  }
  
  .content-table {
	border-collapse: collapse;
	margin: 0px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
	padding: 20px 150px;
  }
  
  .content-table tbody tr {
	border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
  }
  
  